*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}
.header a{
    text-decoration: none;
    color: #767682;
}
.header i{
    font-size: 2.5em;
    margin-top: 15px;
    color: #8F8EA8;
    display: none;
}
.header ul {
    display: flex;
    gap: 40px;
    font-size: 1.3em;
    margin-top: 20px;
}
.header li:hover{
    color: #FF6D5A;
    cursor: pointer;
}
.header li{
    list-style: none;
    color: #8F8EA8;
}
.header li:nth-of-type(1){
    color: #FF6D5A;
}
.header img{
    width: 130px;
}
.btn{
    margin-top: 7px;
}
.btn button {
    border: none;
    background: none;
    background-color: #FF6D5A;
    color: white;
    padding: 15px 30px;
    border-radius:10px ;

}
.btn button:hover{
    background-color: #0F0C51;
    color: white;
}
.color{
    background:linear-gradient(to right, #0A0831, #221D77) ;
    height: 65vh;
}

.about-title{
    text-align: center;
    margin-top: 4%;
}
.about-title p{
    margin-bottom: 10px;
    color: white;
}
.about-title h1{
    font-size: 3em;
    color: aliceblue;
}
.about-title p:nth-of-type(2){
    color: #FF6D5A;
    
}
span{
    color: #8F8EA8;
    margin-left: 10px;
}
/* section-2 */
.artcile{
    
    display: flex;
    gap: 30px;
    margin-top: -55px;
    margin-left: 40px;
    
}
.article-icon{
    display: flex;
    gap: 30px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    width: 350px;
    height: 30vh;
    border-radius: 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.article-icon i{
    font-size: 5em;
    color: #221D77;
}
.article-icon h3{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0A0831;
}
.article-icon p{
    color: #767682;
    margin-bottom: 10px;
}
.article-icon a{
    color: #221D77;
    text-decoration: none;
    border-bottom: 1px solid #221D77;
}
/* section-3 */
.conact{
    background-color: #F9FBFF;
    padding-left: 20%;
    padding-top: 10%;
    margin-top: 5%;
   
}
.contact-title{
    margin-bottom: 20px;
}
.contact-title h3{
    font-size: 2em;
    color: #0A0831;
}
.contact-title p{
    color: #767682;
}
.form input{
    width: 400px;
    height: 35px;
    padding: 0px 30px;
    border: 1px solid #767682;
    background-color: white;
    border-radius: 5px;
    outline: none;
}
.form input:hover{
    border: 1px solid #221D77;
}
.form textarea:hover{
    border: 1px solid #221D77;
}
.form textarea{
    width: 400px;
    height: 150px;
    padding: 10px 30px;
    border: 1px solid #767682;
    background-color: white;
    border-radius: 5px;
    outline: none;
}
.submit input{
    background-color: #FF6D5A;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 900;
    font-size: 1.2em;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: -10px;

}

/* section-4 */
.footer{
    background: linear-gradient(to right, #FF651D , #FF9521);
    color: white;
}
.footer1{
    display: flex;
    justify-content: space-between;
    padding: 5% 40px;
}
.footer2{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: -10px;
}
.input-icon {
    width: 20px;
    height: 20px;
    background-color: #FF5D1D;
    color: white;
    padding: 10px 10px;
    border-radius: 50%;
    position: absolute;
    top: 248.3%;
    left: 18%;
}
.footer-icon i:hover{
    color:black;
}
.input-icon i{
    font-size: 1.5em;
    margin-top: -3px;
    

}
.foter-inpu input:hover{
    background-color: black;
}
.foter-inpu input{
     margin-top: 10px;
    width: 200px;
    height: 45px;
    padding: 0px 20px;
    border-radius: 20px;
    outline: none;
    background: none;
    border: none;
   background-color: #FFE9DF;
    position: relative;

}
.nam h3{
    margin-left: 15px;
}
.nam p{
    margin-left: 15px;
}
.footer-icon{
    margin-top: 20px;
    margin-left: 10px;
}
.footer-icon i{
    font-size: 2em;

}
.nam h3{
    margin-bottom: 20px;
}
.nam input{
    margin-bottom: 20px;
}
.hom p{
    line-height: 30px;

}
.privacy p{
    line-height: 40px;
}
.footer-copy{
    margin-top: 60px;
}
.canada h3{
    margin-bottom: 5px;
}
.canada p{
    line-height: 35px;

}
.Germany h3{
    margin-bottom: 5px;
}
.Germany p{
    line-height: 35px;
}

/* responsive-css */

@media(max-width:390px){
    .header ul{
        display: none;
    }
    .btn button{
        display: none;
    }
    .header i{
        display: block;
    }
    /* section-2 */
    .artcile{
        display: flex;
        flex-wrap: wrap;
        margin-left: 6%;
        width: 350px;
    }
    .conact{
        margin-left: -12%;
        margin-bottom: 20px;
    }
    /* section-3 */
    .footer1{
        display: block;
    }
    .input-icon {
        margin-top: 21.8%;
        margin-left: 160px;
    }
    .hom{
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .privacy{
        margin-left: 10px;
    }
    .footer2{
        display: block;
        margin-left: 15px;
    }
    .canada{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    body{
        overflow: hidden;
    }
}
@media(min-width:820px) and (max-width:875px){
    .header ul{
        display: none;
        
    }
    body{
        overflow: hidden;
    }
    .header i{
        display: block;
    }
    .btn button{
        display: none;
    }
    .color{
        height: 40vh;
    }
    .artcile{
        display: grid;
        grid-template-columns: auto auto;
        
    }
    .conact{
        margin-left: -14%;
    }
    .form input{
        width: 600px;
        height: 65px;
    }
    .form textarea{
        width: 600px;
        height: 205px;
    }
    .submit input{
        width: 200px;
    }
    /* section-3 */

    
    .input-icon {
       margin-top: -79.8%;
        margin-left: 80px;
    }
   
    
}