*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.header ul {
    display: flex;
    gap: 40px;
    font-size: 1.3em;
    margin-top: 20px;
}
.header li:hover{
    color: #FF6D5A;
    cursor: pointer;
}
.header li{
    list-style: none;
    color: #8F8EA8;
}
.header li:nth-of-type(1){
    color: #FF6D5A;
}
.header img{
    width: 130px;
}
.btn{
    margin-top: 7px;
}
.btn button {
    border: none;
    background: none;
    background-color: #FF6D5A;
    color: white;
    padding: 15px 30px;
    border-radius:10px ;

}
.btn button:hover{
    background-color: #0F0C51;
    color: white;
}
/* section-2 */
.main{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.left{
    margin-top: 5%;
    animation: left 2s ease-in-out forwards ;
    animation-delay: 1s;

}
.ui{
    background:linear-gradient(to right , #0A0831, #0F0C51);
    color: white;
    width: 170px;
    padding: 10px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
}
.ui h4{
    color: #FF6D5A;
}
.ui p{
    color: #8F8EA8;
}
.say{
    background:linear-gradient(to right , #0A0831, #0F0C51);
    color: white;
    width: 170px;
    padding: 10px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 10px;
    
    
}
.say p:nth-of-type(1){
    font-weight: 100;
    color: #8F8EA8;
}
.say p:nth-of-type(2){
    font-weight: 600;
    
}
.icon i{
    margin-top: 40px;
    font-size: 1.5em;
    padding: 10px;
    color: #221D77;
   
}
.icon i:hover{
    color: #FF6D5A;
}
.center img{
    width: 650px;
    margin-top: -15px;

    
}
.center h2{
    margin-top: -70px;
    font-size: 4em;
    margin-left: 130px;
    color:#F4E0EA;
}
.center p{
    font-size: 16px;
    margin-left: 35%;
    color: white;
    margin-top: -10px;
}
.center{
    animation: center 2s ease-in-out forwards ;
    animation-delay: 1s;
}
span{
    color: #FF6D5A;
    border-bottom: 1px solid #FF6D5A;
}
.right{
      margin-top: 5%;
      animation: right 2s ease-in-out forwards ;
      animation-delay: 1s;
      
}
.one{
   margin-bottom: 10px;
}
.one p{
    color: #8F8EA8;
}
.one h3{
    text-align: end;
    color: white;
}

.two{
    margin-top: 20px;
}
.two p{
    color: #8F8EA8;
    text-align: end
}
.two h3{
    text-align: end;
    color: white;
}
.three{
    margin-top: 20px;
}
.three h3{
    text-align: end;
    color: white;
}
.three p{
    text-align: end;
    color: #8F8EA8;
}
hr{
    margin-top: 30px;
}
.color{
    background:linear-gradient(to right, #0A0831, #221D77) ;
    height: 105vh;
}
/* section-3 */
.hero{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.hero-left img{
    width: 300px;
    background: linear-gradient(to top, #0E0B34, #65315A);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.hero-left{
    position: relative;
}
.bx{
    position: absolute;
    top: 60%;
    left: 70%;
    display: flex;
    gap: 20px;
    background-color: #FF6D5A;
    width: 150px;
    color: black;
    padding: 10px 10px;
    border-radius: 10px;
    
    
}
.pi p:nth-of-type(1){
    color: white;
    font-weight: 900;


}
.pi p:nth-of-type(2){
    font-weight: 100;
    font-size: 14px;
    margin-top: -5px;
    color: white;
}
.hr-ico i{
    font-size: 2em;
    margin-top: 5px;
    color:white;
    

}
.lx{
    display: flex;
    gap: 10px;
    background-color: #FF6D5A;
    width: 150px;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 140%;
    left: 60px;
}
.lx-h h3{
    font-size: 35px;
    font-weight: 900;
   
}
.li p{
    font-weight: 100;
    font-size: 17px;
}
.hero-right{
    margin-top: 3%;
}
.hero-right p:nth-of-type(1){
    font-size: 25px;
    color: #221D77;
}
.hero-right h3{
    font-size: 3em;
    color: #221D77;
}
.hero-right h4{
    color: #8F8EA8;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.hero-right p:last-of-type{
    font-weight: 400;
    font-size: 17px;
}
.btn-box{
    display: inline-flex;
    justify-content: space-between;
    width: 345px;
    height: 45px;
    margin-top: 20px;
   
}
.btn-box a{
    position: relative;
    width: 150px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #221D77;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:hover{
    color: white;
}

.btn-box a:nth-of-type(2){
    background: transparent;
    color: #FF6D5A;
    border: 2px solid #FF6D5A;
}
.btn-box a:nth-of-type(2)::before{
    background:#FF6D5A;
    
}
.btn-box a:nth-of-type(2):hover{
   color: white;
    
}
.btn-box a::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF6D5A;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
/* section-4 */

.cont{
    display: flex;
    gap: 70px;
    padding: 20px 60px;
    margin-top: 1.5%;
}
.box-cont:hover{
    transform: translateY(-20px);
}
.box-cont{
    background:linear-gradient(to right, #FF9922, #FF5D1D);
    width: 250px;
    height: 240px;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 10px solid #D3D0EE;
    position: relative;
    color: white;

}
.lap{
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 35%;
    box-shadow: 0px 0px 10px #f0f0f0;
   
}
.lap i{
    font-size: 1.7em;
    text-align: center;
    justify-content: center;
    margin-left: -2px;
    margin-top: 2px;
    color: #221D77;
    
}
.mobile{
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 35%;
    box-shadow: 0px 0px 10px #f0f0f0;
   
}
.mobile i{
    font-size: 2em;
    text-align: center;
    justify-content: center;
    margin-left: 3px;
    margin-top: 0px;
    color: #221D77;
    
}
.tit{
    margin-left: 60px;
    margin-top: 3%;
}
.tit p{
    font-size: 13px;
    color:#8F8EA8;
}
.tit h3{
    color: #221D77;
    font-size: 2em;
}
#sp{
    color: #FF6D5A;
    border: none;
    text-transform: capitalize;
}
.box-cont h6{
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    color: #FF6D5A;
}
.box-cont p:nth-of-type(1){
    margin-top: 20px;
    margin-bottom: 10px;
}
.box-cont h3{
    margin-bottom: 10px;
}
.box-cont p:nth-of-type(2){
    font-size: 14px;
    font-weight: 300;
    width: 250px;
}

/* section-5 */
.mr img{
    width: 90px;
    border-radius:7px;
}
.blog{
    display: flex;
    justify-content: space-evenly;
    margin-left: -9%;
    margin-top: 5%;
    background: linear-gradient(to right, #FCF0F0, #D5E7FF);
    padding-top: 5%;
    height: 80vh;
}
.mo h3{
    font-size: 2em;
}
.mo{
    color: #8F8EA8;
}
.nb{
    display: flex;
    justify-content: space-between;
    margin-top: -3px;
}
.nb i{
    background-color: #D3D0EE;
    color: white;
    padding: 5px 5px;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.nb i:hover{
    background-color: #FF6D5A;
}
.vg{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
#hi{
    margin-top: -20px;
    margin-bottom: 20px;
    opacity: 0.3;
}
.my p:nth-of-type(1){
    color: #221D77;
    
}
.my h3{
    font-size: 2em;
    margin-bottom: 25px;
}
.my p:nth-of-type(2){
    color: #8F8EA8;
    margin-bottom: 30px;

}
.my h5{
    color: #FF6D5A;
    border-bottom: 2px solid #FF6D5A;
    width: 75px;
}

/* section-5 */
.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 100px;
    margin-left: -145px;
    margin-top: 5%;
    background: linear-gradient(to right, #FF5D1D, #FF9922);
    color: white;
    width: 96%;
    height: 30vh;
    
}
.kl h3{
    font-size: 2.5em;
    font-weight: 900;
}
.kl p{
    font-size: 20px;
    margin-left: 5px;
    font-weight: 900;
}
/* section-6 */
.core h1{
    margin-bottom: -30px;
    font-size: 23px;
   
}
.core{
     background-color: #D5E7FF;
     width: 300px;
     height: 50vh;
     padding: 30px 20px;
     border-radius: 10px;
     color: #221D77;
}
.core:hover{
    transform: translateY(-20px);
}
.htm{
    display: flex;
    gap: 90px;
    margin-top: 60px;
   
}
.htm h3{
    color: #0F0C51;
}
.htm p{
    font-size: 1.2em;
    margin-top: -3px;
    
}

#e{
    margin-left: 70px;
}
#w{
    margin-left: 54px;
}
#d{
    margin-left: 27px;
}
#o{
    margin-left: 50px;
}
#x{
    margin-left: 55px;
}
#z{
    margin-left: 40px;
}
.bg{
    width: 265px;
    height: 5px;
    background-color: #ec968a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
   
}
.gk{
    width: 200px;
    height: 5px;
    background-color: #FF5D1D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    
}
.nvbr h1{
    
    font-size: 23px;
   
}
.corei{
    display: flex;
    gap: 10px;
     
}
.git{
    margin-bottom: 20px;
    color: white;
    background-color: #FF5D1D;
    padding: 10px 20px;
    border-radius: 5px;
    
}
#ds{
    width: 30px;
    margin-left: 30px;
    
}

.min{
    margin-top: 30px;
}
.git i{
    font-size: 2em;
}
#wa{
    width: 120px;
    height: 185px;
    font-size: 2em;
    
}
#op{
    margin-left: 25px;
    margin-top: 25px;
}
.resp{
    color: white;
    background-color: #FF5D1D;
    padding: 10px 20px;
    border-radius: 5px;
}
.resp i{
    font-size: 2em;
    margin-left: 30px;
}
.nvbr{
    background-color: #D5E7FF;
     width: 300px;
     height: 50vh;
     padding: 30px 20px;
    
     border-radius: 10px;
     color: #221D77;
}
.nvbr:hover{
    transform: translateY(-20px);
}
.core-container{
    display: flex;
    gap: 50px;
    margin-top: 5%;
    margin-left: 5%;
}
.skill{
    text-align: center;
    margin-top: 5%;
}
.skill h3{
    margin-bottom: 10px;
    font-size: 2em;
    color: #FF5D1D;
}
.skill p{
    color: #221D77;
}

/* secttion-7 */
#pm{
    border: none;
    color: #221D77;
}
.test-img{
    display: flex;
    gap: 10px;
}
.testi-p{
    margin-top: 5px;
}
.test-left{
    margin-top: 20%;
}
.test-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #221D77;
}
.testi-box{
    background: linear-gradient(to right, #EAEFFC, #FEF4EB);
    width: 380px;
    height: 50vh;
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 10px;
}
.testi-box:hover{
    transform: translatey(-10px);
}
.tes-box{
     background: linear-gradient(to right, #EAEFFC, #FEF4EB);
    width: 380px;
    height: 50vh;
    padding: 20px 20px;
    border-radius: 10px;
}
.tes-box:hover{
    transform: translateY(-10px);
}

.tes-box i{
    font-size: 3.5em;
    color: #221D77;
    margin-bottom: 5px;
}
.tes-box p:nth-of-type(1){
    font-size: 15px;
    margin-bottom: 10px;

}
.testi-box i{
    font-size: 3.5em;
    color: #221D77;
    margin-bottom: 5px;
}
.testi-box p:nth-of-type(1){
    font-size: 15px;
    margin-bottom: 10px;
}
.tes{
    background: linear-gradient(to right, #EAEFFC, #FEF4EB);
    width: 380px;
    height: 65vh;
    padding: 20px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
    

    
}
.tes:hover{
    transform: translateY(-20px);
    
}
.tes-tt{
    margin-left: 5%;
    margin-top: 4%;
}
.test-icon{
    position: absolute;
   top:25%;
   left: 40%;
}
.test-icon:hover{
    transform: scale(1.2);
    color: #FF9922;
}
.test-icon i{ 
    color: #ec968a;
   font-size: 3em;
  
}

.tes img{
    width: 420px;
    height: 55vh;
    margin-left: -20px;
    margin-top: -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.test-title{
    margin-left: 10%;
    margin-top: 7%;
}
.test-title h1{
    font-size: 2.5em;
}
.test-title p{
    margin-bottom: 10px;
    color: #221D77;
}
.testi-container{
    display: flex;
    gap: 70px;
    margin-top: -15%;
    overflow: hidden;
    margin-left: 10%;
    
}
/* section-8 */

.client-box{
    margin-bottom: 20px;
   
}
.client-box img{
    background-color: #000041;
    width: 130px;
    height: 130px;
    padding: 10px 10px;
    border-radius: 10px;
    
}
.clien-box img{
    background-color: #000041;
    width: 130px;
    height: 130px;
     background-color: #34BC85;
     padding: 10px 10px;
      border-radius: 10px;
}
.clien-box img:nth-of-type(2){
    background-color: #FF3767;
     border-radius: 10px;
}
.clien-box img:nth-of-type(3){
    background-color: #F8D84A;
     border-radius: 10px;
}
.client-box img:nth-of-type(2){
    background-color: #C2EEC1;
     border-radius: 10px;
}
.client-box img:nth-of-type(3){
    background-color: #FFE9DF;
     border-radius: 10px;
}
.left-clients p{
    color: #221D77;
}
.left-clients i{
    font-size: 1.4em;
}
.left-clients i:hover{
    transform: scaleX(-1);
    
}
.left-clients h1{
    font-size: 2.5em;
    font-weight: 900;
}
.left-clients p:nth-of-type(2){
    color: #8F8EA8;
}
#bv{
    border: none;
    margin-bottom: 10px;
}
.client{
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
     background:linear-gradient(to right, #DAE9FF,#FCEEED);
     margin-top: 5%;
}
@keyframes left {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes center{
    0%{
        opacity: 0;
        transform: translateY(300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes right {
    0%{
        opacity: 0;
        transform: translateX(400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}

